/* Apply animation to navbar logo  */
/* #logo {
  animation: spin 18s normal infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(36deg);
    }
  }
   */